{% extends "Main.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 style="text-align: center;"><strong>REGISTRAR PROYECTOS</strong></h1>

    <!---DISEÑO DEL FORMULARIO DE INGRESO-->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!--presentacion en modo parrafo-->
       <!-- {{form.as_p }}-->

       <!---PRESENTACION EN MODO TABLA-->
       <!--{{form.as_table}}-->
       <div class="row">
            <div class="col">
                {{form.Titulo|as_crispy_field }}
            </div>

            <div class="col">
                {{form.Descripcion|as_crispy_field }}
            </div>
       </div>
       <br>
       <div class="row">
            <div class="col">
                {{form.DemoLink|as_crispy_field }}
            </div>

            <div class="col">
                {{form.SourceLink|as_crispy_field }}
            </div>
        </div>

        <br>
        <div class="row">
             <div class="col">
                 {{form.VotosTotal|as_crispy_field }}
             </div>
 
             <div class="col">
                 {{form.VotosRatio|as_crispy_field }}
             </div>
         </div>
         <br>
         <div class="row">
            <div class="col">
                {{form.ImagenDefecto|as_crispy_field }}
            </div>

            <div class="col">
                {{form.Tags|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="text-center">
                <input type="submit" class="btn btn-info" />
            </div>
        </div>
    </form>
    

{% endblock content %}